<a href="https://colab.research.google.com/github/leesua-github/bigdata/blob/main/_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 함수-print: 괄호 안에 어떤 값을 모니터에 출력할 때 사용

In [ ]:
print(10*5)

50

In [ ]:
# 문자열을 표현할 때는 :'문자'사용
print('안녕하세요')

안녕하세요

In [ ]:
# 닉네임부분처럼 하나의 값으로 고정되어있지 않고 변하는 값을 설정할 수 있는 공간=변수
name='파이쏭'
print(name)
# ex)name:변수,=:왼쪽값에 대입(또는 배정)하는 역할
# 변수는 숫자로 시작할 수 없다

파이쏭

In [ ]:
name='파이쏭'
print(name+'님 안녕하세요')
# +:문자열과 문자열을 이어주는 역할

파이쏭님 안녕하세요

In [ ]:
name='원더키디'
print(2020,name,'파이팅')

2020 원더키디 파이팅

In [ ]:
# input : 키보드로 문자열을 입력받는 기능

In [ ]:
name=input('이름을 입력해주세요')
print(name+'님 안녕하세요')

이름을 입력해주세요파이쏭
파이쏭님 안녕하세요

In [ ]:
age=input('나이를 입력해주세요:')
print(age-4)
# 위의 에러는 (문자열-정수열)이기 때문에 발생 -> (정수-정수)로 바꾸어야 에러가 나지 않음

나이를 입력해주세요:9

TypeError: ignored

In [ ]:
# str(string):문자열의 약자, int(integer):정수의 약자
name=input('나이를 입력해주세요:')
print(int(age)-4)

나이를 입력해주세요:8
5

In [ ]:
name=input('이름을 입력해주세요:')
age=int(input('나이를 입력해주세요:'))
print('안녕하세요!', name+'님 저는 처음에' +str(age-2)+'인 줄 알았어요!')
# int를 사용해서 나이를 정수로 저장
# str을 사용해서 숫자를 문자로 정장

이름을 입력해주세요:파이쏭
나이를 입력해주세요:20
안녕하세요! 파이쏭님 저는 처음에18인 줄 알았어요!

In [ ]:
# 산술연산자 사용하기

In [ ]:
# 곱셈
print(3*10)

30

In [ ]:
# 거듭제곱
print(3**10)

59049

In [ ]:
# 나머지
print(3%10)

3

In [ ]:
# 실수 나눗셈
print(3/2)

1.5

In [ ]:
# 정수 나눗셈
print(3//2)

1

In [ ]:
# 비교연산자 사용하기

In [ ]:
# ==: 같다
# !=: 같지 않다

In [ ]:
# 논리 연산자

In [ ]:
# 논리곱: A and B : A와 B 중 하나라도 False일 경우 False이고 둘다 True일 때만 결과가 True
# 논리합: A or B : A와 B가 모두 False일 경우에만 결과가  False이고, 나머지 경우는 True
# 논리부정: not A : A의 결과가 False일때는 True이고, True라면 False

In [ ]:
# inport : 내장 함수에 없는 함수를 불러낼 때 사용(라이브러리를 불러옴)

In [ ]:
# inport random : random이라는 이름의 라이브러리를 불러오라는 명령
# random.randint(1,6)은 random 라이브러리에 있는 randint라는 함수에 1과 6을 입력해서 실행하라는 의미

In [ ]:
# randint():입력되는 두 정수 사이의 숫자를 랜덤하게 생성하는 함수
# random.randint(a,b)는 a이상 b이하의 한 개의 정수를 만든다

In [ ]:
import random
dice=random.randint(1,6)
print(dice)

3

In [ ]:
# 제곱근 함수를 사용하려면 제곱근 함수가 저장되어있는 라이브러리 math에서 sqrt함수를 실행

In [ ]:
import math
print(math. sqrt(2))

1.4142135623730951

In [ ]:
# 반복과 선택

In [ ]:
# for 반복문
# for: 주어진 데이터 세트를 순회하거나 원하는 횟수만큼 반복하고 싶을 때 사용

In [ ]:
# for 반복문 구조
# for A in B: # : 기호를 반드시 사용해야 함
#   반복할 문장1
#   (반복할 문장n)

# 여기서 B는 데이터 세트를 의미,데이터 세트에서 데이터를 하나씩 꺼내 와서 A에 임시로 저장
# 들여쓰기 필수(tab 사용)

In [ ]:
# for 반복문 예시
name='파이쏭'
for i in name:
  print(i)

# '파이쏭'이라는 문자열이 데이터 세트
# 이 데이터 세트에서 '파', '이', '쏭'이라는 데이터를 하나씩 순서대로 꺼내서 변수 i에 임시 정장
# 첫번째 바퀴에서 i는 '파'가, 두번째 바퀴에서 i는 '이'가, 세번째 바퀴에서 i는 '쏭'이 저장
# i를 반복하며 출력(print)하면 글자가 하나씩 출력

파
이
쏭

In [ ]:
names=['쵸파','루피','상디','조로']
for name in names:
  print(name)

쵸파
루피
상디
조로

In [ ]:
for i in [0,1,2,3]:
  print(i**2)

0
1
4
9

In [ ]:
for i in range(100):
  print(i**2)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 파이썬의 첫 번째 시작은 0부터
# range(): 범위

In [ ]:
# 1부터 9까지의 정수
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# 2부터 100미만의 정수를 3칸을 간격으로 출력
for i in range(2,100,3):
  print(i)

In [ ]:
# if 조건문 : 주어진 조건이 true인 경우에만 명령을 선택적으로 실행하고 싶을 때 사용
# : 반드시 사용
# 들여쓰기 필수

In [ ]:
# if 조건문 형식
# if 조건:
#   조건이 참일 경우 실행할 문장1
#   (조건이 참일 경우 실행할 문장1)

In [ ]:
if 10>3:
  print("안녕하세요")

안녕하세요

In [ ]:
if 10!=0 and 5%2==1:
  print('안녕하세요')

안녕하세요

In [ ]:
passwd=int(input('비밀번호 4자리를 입력해주세요:'))
if passwd==1531:
  print('비밀번호가 일치합니다.')

비밀번호 4자리를 입력해주세요:1531
비밀번호가 일치합니다

In [ ]:
for i in range(10000):
  if i==1531:
    print('비밀번호가 일치합니다')

비밀번호가 일치합니다

In [ ]:
passwd=int(input('비밀번호가 4자리를 입력하세요:'))
if passwd==1531:
  print('비밀번호가 일치합니다')
else:
  print('비밀번호가 일치하지 않습니다')

# else: 그 밖에

비밀번호가 4자리를 입력하세요:1353
비밀번호가 일치하지 않습니다

In [ ]:
# else if: 약자 elif
print('[소름끼치도록 놀라운 심리테스트]')
menu=input('당신이 좋아하는 음식을 입력해주세요:')
if menu=='짜장면':
  print('당신은 짜장면을 좋아하는 사람입니다.')
elif menu=='아이스크림':
  print('당신은 아이스크임을 좋아하는 사람입니다.')
elif menu=='사탕':
  print('당신은 사탕을 좋아하는 사람입니다.')
else:
  print('당신은 짜장면과 아이스크림과 사탕을 좋아하지 않는 사람입니다.')

[소름끼치도록 놀라운 심리테스트]
당신이 좋아하는 음식을 입력해주세요:사탕
당신은 사탕을 좋아하는 사람입니다.

In [ ]:
# 순서 있는 저장 공간 리스트
# 순서가 있는 데이터를 다룰 때, 리스트(list) 데이터 구조
# 리스트: []
# 각각의 값들은 ,로 구분

In [ ]:
for i in [0,1,2,3]:
  print(i**2)

0
1
4
9

In [ ]:
names=['초파','상디','조로','루피']
for name in names:
  print(name)

초파
상디
조로
루피

In [ ]:
# 리스트에 저장된 위치로 값에 접근하기

In [ ]:
names=['초파', '루피','상디', '조로']
print(names[1])

루피

In [ ]:
names=['초파', '루피','상디', '조로']
print(names[-1])

# -1: 뒤에서 첫 번째

조로

In [ ]:
# 리스트에 저장된 위치로 데이터 일부 자르기

names=['초파','루피','조로','상디']
print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

# range함수와 마찬가지로 [a:b]는 a이상 b미만이라는 구간에 적용
# 1: 1부터 끝까지
# : 처음부터 끝까지

['초파', '루피']
['루피', '조로']
['루피', '조로', '상디']
['초파', '루피', '조로', '상디']

In [ ]:
# 리스트에 값 추가하기
# attend()

names=['초파','루피','조로','상디']
names.append('나미')
print(names)

['초파', '루피', '조로', '상디', '나미']

In [ ]:
# 리스트에 몇 개의 데이터가 저장되었는지 확인하려면 length의 뜻을 가진 len() 함수 사용
# len는 리스트의 길이 뿐만 아니라 문자열의 길이도 확인 가능

print(len(names))
print(len('data analysis for everyone'))

5
26

In [ ]:
# while 반복문

In [ ]:
# while: 어떤 조건에 만족하는 동안 반복 실행
# for문은 정해진 횟수 만큼 반복하기 때문에 반복 횟수를 알 수 있으나, while문은 반복 횟수를 알 수 없는 경우가 많음

# while 반복문의 형식
# while 조건식:
#   실행문1
#   실행문2

#조건식의 결과가 참인 동안 while문 안의 실행문을 실행

In [ ]:
a=input('입력:')
while a=='1':
  print('맞습니다')
  a=input('입력:')

# 거짓이면 실행 종료

입력:1
맞습니다
입력:1
맞습니다
입력:1
맞습니다
입력:2

In [ ]:
# 무한 반복문
# while 문의 조건식을 무조건 참으로 만들어서 그 안의 명령들이 계속 실행되게 만드는 반복문
# break : 현재 실행중인 반복 블록을 강제로 빠져나가게 하는 명령어

In [ ]:
while True:
  a=input('입력')
  if a !='1':
    break

입력1
입력1
입력2

In [ ]:
while True:
  a=input('끝내려면 y를 입력하세요:')
  if a=='y':
    break

끝내려면 y를 입력하세요:3
끝내려면 y를 입력하세요:y